<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>大学生创新创业训练计划管理平台</display-name>	
	<!-- 数据库配置 -->
	<context-param>
		<param-name>jdbc.driverClassName</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc.url</param-name>
		<param-value>jdbc:mysql//mysql01@172.30.101.104:3306/cxcy?characterEncoding=UTF-8</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc.username</param-name>
		<param-value>mysql01</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc.password</param-name>
		<param-value>mysql01</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.checkoutTimeout</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.minPoolSize</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.maxPoolSize</param-name>
		<param-value>50</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.maxIdleTime</param-name>
		<param-value>7200</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.maxIdleTimeExcessConnections</param-name>
		<param-value>1800</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.acquireIncrement</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>cpool.initialPoolSize</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>jdbc.type</param-name>
		<param-value>mysql</param-value>
	</context-param>  
	<context-param>
		<param-name>page.size</param-name>
		<param-value>20</param-value>
	</context-param>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<!-- ckfinder -->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	  <welcome-file>userlogin.html</welcome-file>
	</welcome-file-list>
</web-app>
